<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
  <agm-marker *ngFor="let marker of markers; let i = index" (markerClick)="onMarkerClick(marker.label, i)" [latitude]="marker.lat" [longitude]="marker.lng"  [label]="marker.label" [markerDraggable]="false">
    <agm-info-window [isOpen]="marker.isOpened">
      <div *ngIf="marker.vehicle">
            <div class="media" style="width: 400px;">
                    <div class="media-left">
                        <img [src]="marker.vehicle.foto" [alt]="marker.vehicle.make" style="width: 100px">
                     </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{marker.vehicle.make}} {{marker.vehicle.model}} ({{marker.vehicle.year}})</h4>
                      <div>VIN: {{marker.vehicle.vin}}</div>
                      <div>Current address: {{marker.address}}</div>
                    </div>
            </div>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>
